#home-content {
    background: url("images/bg-home-content.png") center no-repeat border-box;
    background-size: contain;
    position: relative;
    z-index: 0;
    max-height: 724px;
}

#home-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.562);
}